body {
 	background-color: black;
 	
 }

 .bgimage {
 	background-image: url('../new_work_oils/caraggio_portrait_webresized.jpg');
 	background-position: center;
 	background-size: cover;
 	height: 20px;
 }

 h1 {
 	color:red;
 	font-size: 40px;
 	letter-spacing: 30px;
 	padding-left: 10px;
 	margin-bottom: 50px;
 }


 .row div {
	
	background: 
	margin-top: 30px;
	height: 50px;
	text-align: center;
}

.row div a  {
	font-size: 15px;
	padding-top: 10px;
 	color: red;
 	padding-top: 80px;
 }