
.container {
  
      margin: 70px 70px 70px 70px;
      height: 100%;
}

body {
	background: white;
	color: black;
	font-family: 'Oswald', sans-serif;

}

 h1 {
     font-size: 23px;
     letter-spacing: 15px;
     padding: 10px 10px 10px 20px;
     display: inline-block;
     float: left;
 }

 .first {
  margin-bottom: 10px;
  height: 50px;
}

nav {
  padding-top: 5px;
  float: right;
  padding-right: 70px;

}

 a {
  	text-decoration: none;
    color: black;  
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
    letter-spacing: 5px;

}

li {
  text-decoration: none;
}

 a:hover {
      color: red;

 }


 a:active {
  color: red;
 }

  .clear {
    clear: both;
 }


section {
	padding: 20px;
}

h2 {
	 letter-spacing: 7px;
     font-size: 15px;

}

p {
	font-family: 'Oswald', sans-serif;
	font-size: 10;
}


.footer {
	padding: 20px;
	margin-top: 50px;
	font-size: 20px;
	
}