body {
  background: white;
  color: black;
  font-family: 'Oswald', sans-serif;
  }

.container {
/*  margin: 70px 70px 70px 70px;*/
  width: 100%;
  

  }

h1 {
  
  font-size: 23px;
  letter-spacing: 15px;
  padding: 10px 10px 10px 0px;
  display: inline-block;
  float: left;
  }

h2 {
 letter-spacing: 7px;
 font-size: 15px;

}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-align: center;
}

p {
    font-family: 'Oswald', sans-serif;
  line-height: 20px;
}



.first {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;  
  padding-right: 5%;
  padding-left: 5%;
  }


nav {
  padding-top: px;
  padding-right: 70px;
  float: right;


  }

a  {
  color: black;
  text-decoration: none; 
  display: inline-block;
  padding: 10px;
  font-size: 10px;
  margin-bottom: 40px;
  margin-top: 30px;
  letter-spacing: 5px;
  }

  /* Styles for CV and Bio Text*/
.text-padding {
  margin: 50px;
  padding-left: 2px;
  padding-right: 300px;
}
.cv-padding {
  margin-left: 35px;
}
 #bio {
  line-height: 20px;
}
/* End*/

 a:hover {
 	  color: red;
  }

a:active {
  color: red;
 }

 .clear {
    clear: both;
 }

img {
  margin-top: 60px;
  margin-left: 200px;     
  }

.image {
  text-align: center;

  }

li {
  text-decoration: none;
}

section {
  padding: 20px;
}

.sidebar {
  float: left;
  width: 200px;
  height: 500px;
  overflow: auto;
  padding: 30px, 30px, 30px, 0px;
  margin-top: 100px;
}

ul img {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0 auto;
}



img #one, img #two, img #three, img #four, img #five {
  margin-top: 110px;
  padding-left: 150px;
  width: 100%;
      
}
/*captions*/

.caption {
  text-align: center;
  padding-right: 65px;
  font-size: 12px;
}

h6 {
  padding-left: 40px;
}

#OtherCaption {
 text-align: center; 
}


/* Home image */
 div #homeimage {
  width: 50%;
  margin-left:0px;
 }

/*FOR 2016-BLACK AND WHITE PAGES*/

.big-image {
  text-align: center; 
  margin-top: 200;
  width: 40%;
}

END STYLES FOR 2016- BW PAGES

#caption {
  font-size: 10px;
  }





/*styles for mobile nav*/
.fa {
  padding-top:30px;
  padding-right: 30px;
  display:none;
}

#mobile-nav {
  width: 100%;
  display: none;
}

 #mobile-nav a {
  display: block;
  background: rgb(222,222,222);
  text-align: center;
  font-size: 10px;
  color: black;
  text-decoration: none;
  padding: 7px;
  width: 100%;
  height: 10px;
  margin: 10px;
 }
 #mobile-nav a:hover {
  background: black;
  color: white;
 }

.footer {
  padding: 20px;
  margin-top: 50px;
  font-size: 20px;
  
}

h4 a {
  padding:0px;
  font-size: 16px;
  letter-spacing: 0px;
  color: red;
}



@media (max-width: 1027px) {

  #defaultnav {
    text-align: center
  }
}


@media (max-width: 1142px) {
 
  #defaultnav {
  display: none;
  }



  nav {
    float: left;
  }
  

.fa {
  display: block;
  float: right;
  margin-top: 5px;
  }

   #homeimage {
    width: 80%;
  }

 }

 @media (max-width: 477px) {

  h1 {
    font-size: 20px;
    letter-spacing: 8px;
    padding-top: 17px;
    padding-right: 0px;
    padding-left: 0px;


  }

  .first {
    padding-right: 0px;
    padding-left: 15px;
  }

 div #homeimage {
    width: 80%;
  }
}


