





body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}




h1 {
  float: left;
  color: white;
  font-size: 40px;
  font-weight: 800;
  padding-top: 20px;
  padding-left: 70px;

}

nav {
  float: right;
  font-size: 24px;
  font-weight: 600;
  padding-top: 35px;
  padding-right: 70px;
}

a {
  color: #f9e42e;
  padding: 20px;
}

header {
background-color: #033048;
height: 100px;

}

.clearheader {
  clear: both;
}

#container {
  width: 960px;
  margin: auto;

}

section {
  width: 700px;
  float: left;
  padding-right: 20px;
  font-weight: 300;
  font-size: 24px;
  color: #606161;

}

h2 {
  font-weight: 600;
  font-size: 40px;
  padding: 60px 0px 20px;
}

article {
  border-bottom: 2px solid black;
}

p {
  font-weight: 300;
  font-size: 24px;
}
span {
  font-size: 55px;
  float: left;
}

aside {
  width: 240px;
  float: right;
  padding-top: 60px;


}

h3 {
  font-weight: 800;
  font-size: 32px;
}

#categories {
  padding-top: 20px;
}

.about {
  padding-top: 60px;
}

#about {
  padding-top: 20px;
}

.readmore {
  text-align: right;
  font-size: 24px;
  font-weight: 600;
}

.learnmore {
  font-size: 22px;
  font-weight: 600;
}

#addunit {
  height: 300px;
  width: 170px;
  background-color: grey;
  margin-top: 60px;
}

.clearfooter {
  clear: both;
}


#yellow {
  margin-top: 50px;
  height: 50px;
  background-color: yellow;
}

#button {
  display: inline-block;
  background-color: #121212;
  color: white;
  float: left;
  font-weight: 600;
  font-size: 24px;

}

#blue {
  height: 200px;
  background-color: #121212;

}

#relaxr {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #f9e42e;
  padding-top: 30px;
}







