
body {
	font-family: 'Crimson Text', serif;
	 font-size: 16px;
	letter-spacing: 4px;
	 color: black;
	  background-color: white;
}

a 
{
	color: black;
}
/*HOME PAGE */
#hometitle 
{
align: center;
}


.text-center
{
	align: center;
}
 .col-md-3 
 {
 	padding: 20px;
 	margin: 40px;

 }

.navbar-default {
 	background-color: white;
 	border: none;
 /*	font-family: 'Oswald', sans-serif;*/
 	color: black;
	letter-spacing: 3px;
	font-size: 12px;

 }

 .navbar-header .navbar-brand {
 	 font-size: 19px;
  letter-spacing: 10px;
 	font-family: 'Oswald', sans-serif;
 	color: black;
 	height: 20px;
 }
small {
	font-size: 12px;
  	padding-top: 80px;
  	display: inline;

  }


img #ltlogotest {
 	height: 20px;
 }
 .navbar-brand > img {
 	height: 95px;
 }


#spacer {
	padding-top: 40px;
}

#subtitle {
	padding-top: 70px;
	font-size: 12px;
}
#mellowyellow {
	height: 200px;
	padding: 20px;

/*	border: 1px solid black;
*/
}




#residents_top_margin {
	padding-top: 15px;
}
.titles 
{
/*	align: center;
	padding-left: 100px;*/
}

#abouttext {
	font-size: 15px;
	letter-spacing: 0;
font-family: 'Crimson Text', serif;
}


@media (max-width: 766px) {
 
  ul {
padding-top: 70px;
  }