
body {
    background: white;
    color: black;
}
  h1 {
     font-family: 'Poiret One', cursive;
     font-size: 75px;
     border: 2px solid black;
     padding: 60px 5px 5px 5px;
 }

 nav {
 	float: left;
 	border: 2px solid black;
 	padding: 30px 30px;
 }
 a:hover {
 	color: red;
 }
 li {
 	list-style-type: none;
 }
img {
	width: 300px;
	text-align: center;
}
.image {
	text-align: center;
}