body {
	font-family: 'Lato', sans-serif;
}
 
#subtitle {

font-size: 17px;
letter-spacing: 3px;
padding: 20px;
padding-bottom: 50px;
font-family: 'Inconsolata', monospace;


 }

 #bookstore {
 	height: 500px;
 }

 #subtitle2 {
    font-size: 15x;
    letter-spacing: 2px;
	padding-right: 40px;
 	padding-bottom: 10px;
 	font-family: 'Inconsolata', monospace;

 }
 	
 
 .navbar-default .navbar-brand {

    font-family: 'Inconsolata', monospace;
 	font-size: 50px;
 	color: black;
 	letter-spacing: 8px;
 	border-width: 2px;

 }

 .navbar-default .navbar-nav li a  {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 10px;

 }
 #quote {
 	font-style: italic;
 	font-size: 15px;
 }


 #homebio {
 	
 	padding-top: 30px;
 	font-size: 14px;
 	line-height: 28px;
 }

 #bookblock {
 	padding-top: 30px;
 }


#bookimgage {
 	
 	height: 250px;

 }

 #homeevents {
 	text-align: center;
 }

 #bookblurb {
 	padding-right: 40px;
 	padding-left: 30px;
 	font-size: 14px;
 	line-height: 28px;

 }

 .aboutimage {
 	height: 300px;
 }

 #abouttext {
 	padding-top:30px;
 	padding-right: 300px;
 }

