body {

	 font-family: 'Crimson Text', serif;
	  font-size: 16px;
	  color: black;
	  /*÷background-image: url(../Bobette_Images/homeportrait.jpg);*/
	  /*background-size: 70%;*/
}

#kickstarter {
  background-color: #d6c840;
  font-size: 17px;
  letter-spacing: 2px;
 /* padding-top: 40px;
  padding-bottom: 20px;*/
  border: solid black 1px;
  padding: 20px;
}
#bannersmfont {
  font-size: 15px;
  letter-spacing: 1px;
}

#bannerbold {

  font-style: bold;
}

#borderbutton {
  border: 1px solid black;
  padding: 10px;
}

a {/*
	color: #1cdbed;  aqua*/
/*	color: #c40707;*/ /*darker red*/
	/*color: #ed421c; red bright*/
	color: #f72a2a; red less orange

/*/*	color: #BFBC0D*/
	/*color: #e8e822; - yellow */*/
/*	color: #77a5b7;*/


}
a i {
	color: black;
}

 .wrapper {
 	margin-top: 60px;
 }
 .spacer {
 	height: 100px;
 }
 
#subtitle {

font-size: 18px;
letter-spacing: 2px;
padding: 20px;
padding-bottom: 10px;
font-family: 'Crimson Text', serif;
text-align: center;

 }



 #subtitle2 {
    font-size: 15x;
    letter-spacing: 2px;
	padding-right: 40px;
 	padding-bottom: 10px;
 	font-family: 'Crimson Text', serif;

 }
 	
 
 .navbar-default .navbar-brand {
    
 
    font-family: 'Cormorant Garamond', serif;
 	font-size: 50px;
 	color: black;
 	letter-spacing: 5px;
 	

 }

 #title {
	font-family: 'Cormorant Garamond', serif;
 	font-size: 50px;
 	text-align: center;
 	letter-spacing: 5px;

 }


.navbar-default {
 	background-color: white;
 	border: none;
 	font-family: Helvetica;
	letter-spacing: 3px;
	font-size: 10px;
	padding-top: 30px;
	/*height: 30px;*/

 }

 .navbar-default .navbar-nav li a  {
  color: black;
  background-color: white;
  border-left: 3px solid #f72a2a;
  /* border-left: 3px solid #d6cb04; original green*/
/*  border-left: 3px solid #1cdbed; baby blue; */
 /*   border-left: 3px solid #e8e822;chartruse yellow*/
    /*border-left: 3px solid #c40707; dark red */
  text-transform: uppercase;
  font-weight: bold;
  height: 10px;
 }


 #quote {
 	font-style: italic;
 	font-size: 15px;
 }
/*VERSION 2 HOME */

img #subtitle_v2 {

width: 100px;
	   
}

#title_v2{ 
    font-family: 'Inconsolata', monospace;
  font-size: 50px;
  letter-spacing: 2px;
  color: black;
}

/* Home Version 3*/

 #workkkk {
text-align: center;
}

.v3 {
	color: #BFBC0D;
	font-size: 11px;
	font-family: Helvetica;
	font-weight: bold;
	letter-spacing: 3px;
}
 #v3booklink {
	color: #BFBC0D;
}

/* HOME PAGE */

button /*.btn .btn-default .btn-md */{
	text-transform: uppercase;
	margin-top: 30px;
	border: 2px;
	text-align: center;
	
}

.h1links {

	font-size: 11px;
	font-family: Helvetica;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;

}

 #homeimage {
 	max-width: 100%;
 	padding-top: 10px;
 	padding-left: 30px;
 	
 }
 

 #homebio {
 	
 	padding-top: 30px;
 	font-size: 16px;
 	line-height: 28px;
 
 }

 iframe {
 	max-width: 100%;
 }


 #booklink {
  
  font-weight: bold;
 }

  #homeevents {
 	text-align: center;
 	padding-top: 34px;
 }
 #eventstitle {
 	font-size:  15px;
 	letter-spacing: 2px;

 }

 #linkssection {
 	text-align: center;
 }

 #DOlogo {
 	height: 100px;
 }

 #homebookimage {
 	text-align: center;
 	height: 280px;
 	margin-top: 60px;


 }

 #linkssection {
	font-size: 25px;
/*	color: #8cedf2;*/

 }
 i {
 	padding: 10px;
 	padding-top: 20px;
 }


 /* BOOK PAGE */

 #roughtrade {
 	max-width: 100%;
 	height: 550px;
 }

 #murchposter {
 	height: 650px;
 	max-width: 100%;
 	padding-left: 50px;

 }

 #doccredits {
 	padding-top: 150px;
 }

 #dostorysubtitle {
 	padding-left:
 	font-size: 
 }


#bookimgage {
 	
 	height: 300px;
 	padding-left: 100px;

 }

 #bookthumb {
 	height: 250px;
 	padding-left: 30px;
 	padding-bottom: 30px;
    margin-top: 40px;
 }



 #bookblurb {
	padding-top: 30px;


 }

 #book_do_logo
 {
 	padding-left: 45px;
 	margin-top: 100px;
 }
 /* LECTURES Page */

 #lecturesquote {
 	padding-right: 20px;
 }

 /* ABOUT PAGE */

 .aboutimage {
 	max-width: 100%;
 	height: 370px;
 	align: center;
 }

 #abouttext {
 	padding-top:30px;
 /*	padding-right: 300px;*/
 }

 /* PRESS PAGE */

 h1 {
	font-size: 25px;
}

h2 {

	font-size: 17px;
	line-height: 20px;
}

#twitterimage {
	height: 250px;
}

#luna {
	font-style: italic;
	font-size: 12px;
	margin-left: 90px;

}

 #FoxStudiosQuote {
  	padding-top: 30px;

  }

#firequote {
	padding-top: 80px;
}
.quote {
	font-style: italic;
	font-size: 17px;
}
.quotecredit {
	font-size: 14px;
}

#press {
	/*padding-right: 200px;*/
}

.sm_links 
{
	padding-top: 40px;
}

@media (max-width: 634px) {

  #mobilehomebio {
    padding-right: 0;
  }

}


 @media (max-width: 767px) {
 img#homeimage {
  	padding-left: 0px;
  }
 }


 @media (max-width: 767px) {

 	 .navbar-default .navbar-nav li a {
   height: 40px;
   font-size: 10px;
   padding-top: 20px;


  }


.navbar-default .navbar-brand { 
  font-size: 25px;


  }

  .spacer {
  	height: 20px;
  }



  #firequote {
  	padding-top: 20px;
  }

  #mobilefirequote {
  	margin: 0 auto;
  }

  #merrittquote {
  	padding-top: 20px;
  }

  div #doccredits.col-md-6  {
  	padding-top: 20px;
  }

#roughtrade {
   height: auto;
   padding-bottom: 


  }

  #murchposter {
  	height: auto;
  }
.aboutimage {
	height: auto;
}
  
 }
