
.container {
  
     margin: 70px 70px 70px 70px;
     width: 100%;
}


body {
    background: white;
    color: black;
    font-family: 'Oswald', sans-serif;
}

h1 {
  
   font-size: 23px;
   letter-spacing: 15px;
   padding: 10px 10px 10px 20px;
   display: inline-block;
   float: left;
}

  .first {

      margin-bottom: 10px;
      height: 50px; 
    
 }


nav {
   padding-top: 5px;
   padding-right: 70px;
   float: right;

}

    a  {
    color: black;
    text-decoration: none; 
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
    letter-spacing: 5px;
}


 a:hover {
 	  color: red;
 }

 .clear {
    clear: both;
 }

  img {
      margin-top: 60px;
      width: 60%;     
}

    .image {
      text-align: center;
}
#caption {
  font-size: 10px;

}

#mobile-nav {
  display: none;
}
.fa fa-bars {
  display: none ;
}
#threelines_copy.png{
  background-color: black;
  border: 2px solid black;
}

@media (max-width: 480px) {

  h1 {
     font-size: 15px;
  }

   nav a {
    font-size: 8px;
    display:  block;
    margin-top: none;
    margin-bottom: none;
  }

nav {
  display:  block;
}
}

@media (max-width: 875px) {

 #large-nav {
  display: none;
 }
 #burger {
  display: block;
  float: right;
  margin-top: 5px;
 }
 }


