
.container {
  
      margin: 100px 100px 100px 100px;
      height: 1200px;
}

body {
    background: white;
    color: black;
    margin: 100px 100px 100px 100px;
}

  header {
     font-family: 'Oswald', sans-serif;
     letter-spacing: 25px;
     font-size: 40px;
     font-weight: 1px;
     color: black;
     padding: 70px 5px 5px 0px;
     border-bottom: 2px solid black;
    
      margin: 100px 100px 100px 100px;
     
 }


ul {
    
    float: left;
    border-left: 2px solid black;
    padding-top: 170px;
    padding-left: 50px;
    width: 300px;
    height: 700px;
    font-size: 35px;
     margin: 100px 100px 100px 100px;

}

 li {
    list-style-type: none;
    color: black;
 }


    a  {
    color: black;
    text-decoration: none;

}

 a:hover {
 	  color: red;
 }

  img {
        margin-top: 200px;
        height: 800px;
        text-align: center;
        padding: 50px;
        
}
    .image {
        text-align: center;
}

